.log-in-form-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #1A1A1F;
    opacity: 0.24;
    z-index: 50;
    
  }
  
  .log-in-form {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 12px;
    width: 480px;
    padding-bottom: 40px;
    color: #1A1A1F;
    z-index: 100;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .log-in-input {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #add {
    margin-top: 20px; 
    margin-right: 20px; 
    margin-left: auto;
    width: 24px;
    height: 24px;
  }
  
  #add:hover {
    cursor: pointer;
  }
  
  .mail-input {
    display: flex;
    flex-direction: column;
    width: 432px;
  }
  
  .mail-input input {
    margin-top: 8px; 
    height: 44px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1.5px solid #5D37F3;
    background: #F7F7FF;
  }
  
  .error {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #EA1919;
    font-weight: 400;
  }
  
  .log-in-success {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .submit {
    display: flex;
    width: 432px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #5D37F3;
    color: #FFF;
    border: 0;
  }
  
  .submit:hover {
    cursor: pointer;
  }
  
  
  
  