header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 0;
  width: 100%;
  border-bottom: 1px solid #e4e3eb;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#arrow {
  align-self: flex-start;
  padding: 40px 0px 0px 76px;
  display: inline-block;
}
