body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 0;
  width: 100%;
  border-bottom: 1px solid #e4e3eb;
}

main {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fbfaff;
}

#arrow {
  align-self: flex-start;
  padding: 40px 0px 0px 76px;
  display: inline-block;
}

main h1 {
}
